@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="container" class="menu-page">
    <div class="mid-box">
        <!-- Menu Bar -->
        <div class="menu-bar">
            <ul class="nav-list">
                <li @@click="pushPage">擺檔</li>
                <li>設計館</li>
                <li>家居館</li>
            </ul>
        </div>

        <sys-switch></sys-switch>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        // var IsNew = '@ViewBag.IsNew';
        // var Category = @Html.Raw(ViewData["Category"]); // 产品目录
    </script>
    <script type="text/javascript" src="/js/components/SysSwitch.js" asp-append-version="true"></script>
    <script type="text/javascript" src="/js/page/menu.js" asp-append-version="true"></script>
}