@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="container" class="menu-page" v-cloak>
    <div class="mid-box">
        <!-- Menu Bar -->
        <div class="menu-bar">
            <ul class="nav-list">
                <li v-for="item in menu" @@click="toUrl(item)">{{item.Name}}</li>
            </ul>
        </div>

        <sys-switch></sys-switch>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        var menu = @Html.Raw(ViewData["MenubarDatas"]); // 菜單數據
    </script>
    <script type="text/javascript" src="/js/components/SysSwitch.js" asp-append-version="true"></script>
    <script type="text/javascript" src="/js/page/menu.js" asp-append-version="true"></script>
}