################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/BusinessLayer/HKDG.BLL/bin/Debug/net6.0
/BusinessLayer/HKDG.BLL/obj
/BusinessLayer/HKDG.Repository/obj
/BusinessLayer/HKDG.Repository/bin/Debug/net6.0
/HKDG.Admin/bin/Debug/net6.0
/HKDG.Admin/obj
/HKDG.Admin/Properties
/HKDG.Resources/bin/Debug
/HKDG.Resources/obj/Debug
/HKDG.WebApi/bin/Debug/net6.0
/HKDG.WebApi/obj
/HKDG.WebApi/Properties/PublishProfiles
/Infrastructure/HKDG.ECShip/bin/Debug/net6.0
/Infrastructure/HKDG.ECShip/obj
/Infrastructure/HKDG.Runtime/bin/Debug/net6.0
/Infrastructure/HKDG.Runtime/obj
/Infrastructure/HKDG.Utility/obj
/Infrastructure/HKDG.Utility/bin/Debug/net6.0
/Models/HKDG.Domain/bin/Debug
/Models/HKDG.Domain/obj
/Models/HKDG.Enums/bin/Debug/net6.0
/Models/HKDG.Enums/obj
/Models/HKDG.Model/bin/Debug/net6.0
/Models/HKDG.Model/obj
/MonitorService/HandleCalculateQtyService/bin
/MonitorService/HandleCalculateQtyService/obj
/MonitorService/HandleCalculateQtyService/Properties/PublishProfiles
/MonitorService/HandlerUpdateQtyService/bin/Debug/net6.0
/MonitorService/HandlerUpdateQtyService/obj
/MonitorService/HandlerUpdateQtyService/Properties/PublishProfiles
/HKDG.MiniApi/bin/Debug/net6.0
/HKDG.MiniApi/obj
/HKDG.MiniApi/Properties
/HKDG.WebApi/Properties
/Infrastructure/Web.Jwt/bin
/Infrastructure/Web.Jwt/obj
/Infrastructure/Web.AutoFac/bin
/Infrastructure/Web.AutoFac/obj
/Infrastructure/Web.MQ/bin
/Infrastructure/Web.MQ/obj
/Infrastructure/Web.MVC/bin
/Infrastructure/Web.MVC/obj
/Infrastructure/Web.RegisterConfig/bin
/Infrastructure/Web.RegisterConfig/obj
/Infrastructure/Web.RegisterConfig/bin
/Infrastructure/WebCache/obj
/Infrastructure/WebCache/bin
/Infrastructure/Web.Quartz/bin
/Infrastructure/Web.Quartz/obj
/Infrastructure/Web.Swagger/bin
/Infrastructure/Web.Swagger/obj
/Infrastructure/Web.MediatR/bin
/Infrastructure/Web.MediatR/obj
/Infrastructure/Web.Framework/bin
/Infrastructure/Web.Framework/obj
/.vs
