@{
	ViewData["Title"] = Resources.ToMultiLang("Category");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="container" class="category-page" v-cloak>
	<div class="mid-box">
		<!-- Category -->
		<div class="menu-bar">
			<!-- <div class="top-bar">
				<div class="back-btn"><span>@Resources.ToMultiLang("HKDesign")</span></div>	
				<div class="join-in" @@click="joinIn"><img src="/imgs/icons/join.png"> <span>@Resources.ToMultiLang("JoinDesign")</span></div>	
			</div> -->
			<ul class="nav-list">
				<li v-for="item in category" @@click="pushPage(item)">{{item.Name}}</li>
			</ul>
		</div>
	</div>
</div>

@section scripts{
	<script type="text/javascript">
		// var IsNew = '@ViewBag.IsNew';
		var category = @Html.Raw(ViewData["Category"]); // 产品目录
	</script>
	<script type="text/javascript" src="/js/components/SysSwitch.js" asp-append-version="true"></script>
	<script type="text/javascript" src="/js/page/category.js" asp-append-version="true"></script>
}