@charset 'utf-8';

@font-face {
  font-family: 'PingFangSC';
  src: url('/css/font/PingFangSC.otf');
}

@font-face {
  font-family: 'Micross';
  src: url('/css/font/Micross.ttf');
}

@font-face {
  font-family: 'HanyiSentyPailouArch';
  src: url('/css/font/HanyiSentyPailouArch.ttf');
}

body,
button {
  font-family: "PingFangSC","Micross", sans-serif;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1rem;
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

/* ------ Public Css ------ */
[v-cloak] {
  display: none;
}

.mid-box {
  width: 94%;
  margin: 0 auto;
}

#container {
  position: relative;
  overflow: hidden;
}

.img-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-box img {
  max-width: 100%;
  max-height: 100%;
}

button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance:none;
  outline: none;
  border: none;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group > label {
  font-size: 1rem;
  color: #2c6442;
  display: inline-block;
  margin-bottom: 0.5rem;
}

.form-group > input[type="text"],
.form-group > input[type="password"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 0;
  outline: 0;
  width: 100%;
  height: 2.5rem;
  font-size: 1rem;
  border: 1px solid;
  padding: 0 0.5rem;
  box-sizing: border-box;
}

p.errorTip {
  font-size: 1rem;
  color: red;
  margin: 0.5rem 0;
} 

/* 對話框 */
.bd-dialog {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: 99;
  /*display: none;*/
}

.dlg-mask {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .3);
  z-index: 1;
}

.dlg-content-box {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #ebeef5;
  padding: 1rem;
  box-sizing: border-box;
  box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
  z-index: 2;
}

.dlg-body {
  font-size: 1.2rem;
  max-height: 60vh;
  overflow-y: auto;
}

.dlg-body > p,
.dlg-body > span {
  font-size: 1.2rem;
}

.dlg-footer {
  padding: 2rem 0 0.5rem;
  display: flex;
  justify-content: space-evenly;
}

.dlg-footer button {
  font-size: 1.25rem;
  color: #758b7d;
  font-weight: bold;
  font-family: 'HanyiSentyPailouArch';
  background: #fff;
  border: 2px solid;
  border-radius: 5px;
  letter-spacing: 2px;
}

.none {
  font-size: 1.2rem;
  text-align: center;
  margin: 3rem 0;
}


/* Transition */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

/* blockUI 系統提示彈窗 */
.popBlock {
    width: 100% !important;
    height: 100% !important;
    top: 0 !important;
    left: 0 !important;
    background-color: transparent !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 0 !important;
}

.popBlock .window {
    border: 1px solid #2c6442;
    border-radius: 15px;
    padding: 4rem 2rem 3rem;
    min-width: 70%;
    max-width: 90%;
    background-color: #fff;
    box-sizing: border-box;
    position: relative;
}

.popBlock .window p {
    font-size: 1.5rem;
}

.popBlock .window img {
    max-width: 5rem;
    max-height: 5rem;
    margin-bottom: 2rem;
} 

.popBlock .window.login img {
    margin-bottom: 0;
}

.popBlock .window #login-btn {
    background-color: #2c6442;
    border: 0;
    padding: 0.8rem;
    font-size: 1.3rem;
    margin-top: 1.5rem;
    width: 60%;
    color: #fff !important;
    box-sizing: border-box;
}

.popBlock .window #close-btn {
    position: absolute;
    width: 2rem;
    height: 2rem;
    top: 0.8rem;
    right: 0.8rem;
    background-image: url('/imgs/icons/close-green.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}

.popBlock .window.loading {
    padding: 1rem 2rem;
}

.popBlock .window.loading img {
    margin: 0;
    max-width: 50%;
    max-height: unset;
}

/* ------ Header ------ */
#header {
  background: #fff;
  box-shadow: 0 0 3px #bebebe;
}

#header.fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  box-shadow: #bebebe 0 3px 3px 0px;
}

/*系統公告*/
.announcement_box {
  position: relative;
  background-color: #15907e;
}

.announcement_box .close-btn {
  position: absolute;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  top: 0;
  right: 1rem;
  line-height: 3rem;
  z-index: 2;
}

#announcement {
  height: 3rem;
}

#announcement a {
  display:block;
  line-height:2;
  height: 3rem;
  overflow:hidden;
  text-align: center;
}

#announcement a span {
  font-size: 1.1rem;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-bottom: 1px solid;
  line-height: 2.5;
}

.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.menu-nav {
  margin-right: 1rem;
}

.menu-nav img {
  max-width: 2.2rem;
}

.logo img {
  max-width: 5rem;
}

/*搜索框*/
.mix-search-box {
  width: 100%;
  margin: 0 1rem;
}

.mix-search-box .search-input-box {
  width: 100%;
  height: 3rem;
  border: 2px solid #c1c0c0;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
}

.mix-search-box .search-input-box input[type="text"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 0;
  outline: 0;
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
  padding: 0 3rem 0 0.8rem;
  box-sizing: border-box;
}

.mix-search-box .search-input-box .search-type {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 0;
  outline: 0;
  background: url(/imgs/arrow-down-green.png) no-repeat center right 4px;
  height: 2rem;
  font-size: 1rem;
  color: #15907e;
  border-right: 1px solid;
  padding: 0 1.5rem 0 0.5rem;
  box-sizing: border-box;
  text-align-last: center;
  flex-shrink: 0;
}

.mix-search-box .search-input-box .search-btn {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 3rem;
  height: 100%;
  background: url(/imgs/icons/search.png) no-repeat center center;
  background-size: 50%;
  cursor: pointer;
}

.handle-group {
  flex-shrink: 0;
}

.handle-group > a:not(:last-child) {
  display: inline-block;
  margin-right: 0.8rem;
}

.handle-group > a img {
  max-height: 1.6rem; 
}

.handle-group > a.cart {
  position: relative;
}

.handle-group > a.cart > strong {
  position: absolute;
  min-width: 18px;
  height: 18px;
  line-height: 18px;
  border-radius: 50%;
  background-color: #15907e;
  text-align: center;
  color: #fff;
  font-size: 1rem;
  top: -0.6rem;
  right: -0.5rem;
  font-weight: bold;
}

/* ------ Index Page ------ */
.banner .cover > img {
  width: 100%;
  max-height: 20rem;
}

.bannerSwiper {
  width: 80%;
  margin: 0 auto;
  height: 13rem;
  overflow: visible;
}

.bannerSwiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.bannerSwiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bannerSwiper [class^="swiper-button"]::after {
  font-size: 1rem;
  color: #171717;
  font-weight: bold;
  padding: 0.5rem;
  background: rgb(255 255 255 / 50%);
}

.bannerSwiper .swiper-button-next {
  width: auto;
  right: -0.8rem;
}

.bannerSwiper .swiper-button-prev {
  width: auto;
  left: -0.8rem;
}

.bannerSwiper .swiper-pagination-bullet-active {
  background: #6d6e71;
}

.pmt-one {
  margin: 2rem 0;
}

.util-title {
  font-size: 1.7rem;
  color: #2b6442;
  margin: 1rem 0;
  font-family: 'HanyiSentyPailouArch';
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.util-title .more-btn {
  font-size: 1.1rem;
  color: #606060;
  font-weight: bold;
  font-family: 'PingFangSC';
}

/* Product Item */
.pro-item {
  box-sizing: border-box;
}

.pro-item .img-box {
  min-height: 8rem;
}


.pro-item .pro-info {
  margin: 0.5rem 0;
  position: relative;
}

.pro-item .pro-name {
    font-size: 1.1rem;
    color: #000;
    font-weight: bold;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-word;
    height: 3.5rem;
    margin-bottom: 0.5rem;
}

.pro-item .pro-name > span {
    font-size: 1rem;
    color: #fff;
    display: inline-block;
    background-color: #999;
    padding: 0.2rem 0.5rem;
    margin-right: 0.3rem;
    margin-bottom: 0.3rem;
}

.pro-item .pro-name > span.new {
    background-color: #276643;
}

.pro-item .pro-name > span.hot {
    background-color: #d83e04;
}

.pro-item .pro-name > span.discount {
    background: #EAC100;
}

.pro-item .pro-store {
    margin: 0.5rem 0;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}

.pro-item .pro-store > img {
    height: 1.2rem;
    vertical-align: middle;
    margin-right: 0.3rem;
}

.pro-item .pro-store > span {
    font-size: 1rem;
    color: #276643;
    font-weight: bold;
    vertical-align: middle;
}

.pro-item .pro-price {
  display: flex;
  flex-direction: column;
  justify-content: end;
  /*height: 4rem;*/
}

.pro-item .pro-price .now-price {
    font-size: 1.2rem;
    color: #333;
    font-weight: bold;
}

.pro-item .pro-price .now-price.currency2 {
  line-height: 1;
}

.pro-item .pro-price .old-price {
    font-size: 1rem;
    color: #999999;
    line-height: 1;
    font-weight: bold;
    text-decoration: line-through;
}

.pro-item .fav-btn {
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    background: url(/imgs/icons/heart.png) no-repeat center center;
    background-size: contain;
    cursor: pointer;
    position: absolute;
    right: 0;
    bottom: 0.3rem;
}

.pro-item.layout2 {
  background: #f6f5f5;
}

.pro-item.layout2 > a {
  display: flex;
  align-items: center;
}

.pro-item.layout2 .img-box {
  width: 11.5rem;
  flex-shrink: 0;
}

.pro-item.layout2 .pro-info {
  width: 100%;
  margin: 0.5rem 1.5rem;
}

.pro-item.layout2 .pro-price {
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: flex-end;
  height: auto;
}

.pro-item.layout2 .pro-price .old-price {
  margin-left: 1rem;
  line-height: unset;
}

.pro-item.layout2 .fav-btn {
  bottom: 0;
  width: 1.8rem;
  height: 1.8rem;
}

.proSwiper {
  overflow: visible;
}

.proSwiper.scrollbar {
  padding-bottom: 2rem;
}

.proSwiper .swiper-horizontal>.swiper-scrollbar, 
.proSwiper .swiper-scrollbar.swiper-scrollbar-horizontal {
  width: 100vw;
  left: -3%;
  height: 8px;
}

.proSwiper .swiper-scrollbar {
  background: rgb(196 196 196 / 10%);
}

.proSwiper .swiper-scrollbar-drag {
  background: #276643;
}

.proSwiper.swiper-grid-column {
  height: 50rem;
  padding-bottom: 0;
}

.swiper-grid-column .swiper-slide {
  height: calc((100% - 30px) / 2);

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.pmt-one.category {
  margin-bottom: 3rem;
}

.pmt-one.category .proSwiper {
  height: 10rem;
}

.pmt-one.category .proSwiper .swiper-slide > a {
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid #5f6060;
  border-radius: 5px;
  font-size: 1.5rem;
  color: #2b6442;
  font-family: 'HanyiSentyPailouArch';
  text-align: center;
  writing-mode: vertical-lr;
  overflow: hidden;
  padding-top: 1rem;
  position: relative;
}

.pmt-one.category .proSwiper .swiper-slide > a::before {
  content: '.';
  position: absolute;
  top: 0.3rem;
  left: 0;
  font-size: 2rem;
  width: 100%;
}

.pmt-one.brand .proSwiper .swiper-slide > a p {
  color: #276643;
  font-size: 1rem;
  line-height: 1;
  text-align: center;
  margin: 0.5rem 0;
}

.pmt-one.grid .pro-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.pmt-one.grid .pro-list .pro-item {
  width: 48%;
  margin-bottom: 1rem;
}

.pmt-one.grid .more-btn {
  display: block;
  text-align: center;
  width: 100%;
  background: #fff;
  border: 2px solid #758b7d;
  border-radius: 5px;
  font-size: 1.3rem;
  color: #758b7d;
  height: 3.2rem;
  line-height: 3.2rem;
  font-family: 'HanyiSentyPailouArch';
  margin: 1rem 0;
}

/* ------ Footer ------ */
#footer {
  background: #e9e8e8;
}

#footer .footer-nav {
  padding: 2rem 0;
}

#footer .footer-nav > li:not(:last-child) {
  margin-bottom: 1.5rem;
}

#footer .footer-nav > li > a {
  display: inline-block;
  font-size: 1.3rem;
  color: #2b6442;
  font-family: 'HanyiSentyPailouArch';
  margin-bottom: 0.3rem;
}

#footer .footer-nav > li > ul li a {
  font-size: 1rem;
  color: #9f9f9f;
}

.subscribe-box {
  padding-bottom: 2rem;
  border-bottom: 1px solid #707070;
}

.subscribe-box > p {
  font-size: 1.2rem;
  color: #707070;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.5rem;
}

.subscribe-box .subscribe-input {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subscribe-box .subscribe-input input[type="text"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 0;
  outline: 0;
  width: 100%;
  height: 2.5rem;
  font-size: 1.2rem;
  padding: 0 1rem;
  box-sizing: border-box;
  border: 1px solid #707070;
  border-radius: 5px;
  background: transparent;
}

.subscribe-box .subscribe-input button {
  background: #707070;
  font-size: 1.1rem;
  color: #fff;
  border-radius: 5px;
  padding: 0.2rem 1rem;
  flex-shrink: 0;
  margin-left: 2rem;
}

.support-pay {
  padding: 2rem 0 1rem;
  text-align: center;
}

.support-pay > img {
  height: 3.5rem;
}

.site-tips {
  font-size: 1rem;
  color: #707070;
  text-align: center;
  margin: 1rem 0;
  white-space: pre-line;
}

.trace {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
}

.trace > a {
  display: block;
  width: 2.5rem;
  margin: 0 1rem;
}

.trace > a > img {
  max-width: 100%;
}

.copyright {
  text-align: center;
}

.copyright > p {
  font-size: 1rem;
  color: #606060;
}

.copyright > img {
  height: 3.5rem;
  margin: 1.5rem 0;
}

/* ------ Menu Bar ------ */
.menu-bar {
  margin: 1.5rem 0;
  padding: 0 1rem;
  background: #dde2de;
  border-radius: 8px;
}

.nav-list li {
  font-size: 1.1rem;
  font-weight: bold;
  padding: 0.8rem 0;
  position: relative;
}

.nav-list li::after {
  content: '›';
  position: absolute;
  font-size: 1.8rem;
  height: 100%;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
}

.nav-list li:not(:last-child) {
  border-bottom: 1px solid #abacab;
}

.menu-bar .top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.menu-bar .top-bar > div > span {
  font-size: 1.2rem;
  color: #2b6442;
  font-weight: bold;
  border-bottom: 1px solid;
  line-height: 1.2;
  vertical-align: middle;
}

.menu-bar .top-bar .back-btn {
  margin-left: 1rem;
  position: relative;
}

.menu-bar .top-bar .back-btn::before {
  content: '‹';
  position: absolute;
  font-size: 1.5rem;
  color: #2b6442;
  font-weight: bold;
  height: 100%;
  right: calc(100% + 0.5rem);
  top: 0;
  display: flex;
  align-items: center;
}

.menu-bar .top-bar .join-in > img {
  height: 1.3rem;
  vertical-align: middle;
}

.lang-switch {
  float: right;
  margin-bottom: 1rem;
}

.lang-switch > img {
  height: 1.1rem;
  vertical-align: middle;
  margin-right: 0.3rem;
}

.lang-switch > span {
  font-size: 1.1rem;
  color: #2b6442;
  font-weight: bold;
  vertical-align: middle;
}

.set-one {
  margin-bottom: 1rem;
}

.set-one > p {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.set-one > ul li {
  font-size: 1rem;
  font-weight: bold;
}

.set-one > ul li.active {
  color: #be3841;
}

.currency-tips {
  padding: 0.5rem 0;
  text-align: center;
  border-top: 1px solid #bab7b7;
}

.bd-dialog.lang-currency .dlg-footer {
  padding: 0.5rem 0;
}

.bd-dialog.lang-currency .dlg-footer button {
  width: 6rem;
}

/* ------ 最新消息 ------ */
.msg-list {
  padding: 2rem 0;
}

.msg-item {
  padding: 1rem 2rem 1rem 1rem;
  background-color: #dde2de;
  border: 1px solid #dde2de;
  border-radius: 10px;
  display: flex;
  position: relative;
}

.msg-item:not(:last-child) {
  margin-bottom: 1rem;
}

.msg-item::after {
  content: '›';
  position: absolute;
  font-size: 1.8rem;
  right: 0.8rem;
  top: 3rem;
  transform: rotate(90deg);
  color: #575757;
  transition: transform .3s;
}

.msg-item:focus,
.msg-item:hover {
  border-color: #e5e8e6;
  background-color: #fff;
}

.msg-item.open::after {
  transform: rotate(-90deg);
}

.msg-item .img-box {
  width: 5.5rem;
  height: 5.5rem;
  flex-shrink: 0;
  margin-right: 1rem;
}

.msg-item .dtls .subject {
  font-size: 1.2rem;
  color: #2b6442;
  font-weight: bold;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-word;
  margin-bottom: 0.2rem;
  height: 1.8rem;
}

.msg-item .dtls .describe,
.msg-item .dtls .content > p {
  font-size: 1.1rem;
  color: #575757;
}

.msg-item:not(.open) .dtls .describe {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-word;
  height: 3.5rem;
}

.msg-item .content {
  margin: 1.5rem 0;
  display: none;
}

.classify-date {
  margin-top: 0.5rem;
}

.classify-date > span {
  font-size: 1rem;
  color: #575757;
}

.classify-date .classify {
  border: 1px solid;
  padding: 0 3px;
  border-radius: 5px;
  margin-right: 0.8rem;
}

/* ------ 登陸 ------ */
.login-page {
  width: 100vw;
  height: 100vh;
  background: url(/imgs/login-bg.jpg) no-repeat center;
  background-size: cover;
  position: relative;
}

.login-box {
  width: 78%;
  padding: 1.5rem;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
}

.login-box .logo {
  display: block;
  margin: 2rem auto;
  height: 8.5rem;
}

form#login-form {
  margin: 5rem 0 2rem;
}

#login-form .form-group {
  margin-bottom: 2rem;
}

#login-form .form-group > input[type="text"],
#login-form .form-group > input[type="password"] {
  border: 0;
  border-bottom: 1px solid #b1bdb5;
}

#login-form .form-group.password {
  position: relative;
  margin-bottom: 4.5rem;
}

#login-form .forget {
  display: inline-block;
  color: #2c6442;
  margin: 0.5rem 0;
  position: absolute;
  left: 0;
  top: 100%;
}

#login-form .login-btns {
  text-align: center;
}

#login-form .login-btns button {
  width: 100%;
  height: 2.2rem;
  font-size: 1.2rem;
  color: #758b7d;
  background: #fff;
  border: 1px solid;
  border-radius: 5px;
}

#login-form .login-btns button > img {
  width: 1.2rem;
  vertical-align: middle;
  margin-right: 0.2rem;
}

#login-form .login-btns > span {
  font-size: 1rem;
  color: #758b7d;
  display: inline-block;
  margin: 1rem 0;
}

#login-form .login-btns > span > a {
  font-size: 1rem;
  color: #758b7d;
  border-bottom: 1px solid;
  margin-left: 1rem;
}

/* ------ 產品詳情 ------ */
.proPreview {
  height: 32rem;
  overflow: visible;
  padding-bottom: 3.5rem;
}

.proPreview .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.proPreview .swiper-pagination {
  bottom: 1rem;
  font-size: 1.2rem;
  color: #58595b;
  font-weight: bold;
  display: block;
}

.proPreview [class^="swiper-button"] {
  width: auto;
  height: auto;
  top: unset;
  bottom: 0.8rem;
  z-index: 12;
}

.proPreview [class^="swiper-button"]::after {
  font-size: 1rem;
  color: #171717;
  font-weight: bold;
  padding: 0.5rem;
  background: rgb(255 255 255 / 50%);
}

.proPreview .swiper-button-next {
  right: 35%;
}

.proPreview .swiper-button-prev {
  left: 35%;
}

/*視頻/圖片切換按鈕*/
.vAndi {
    position: absolute;
    text-align: center;
    left: 30px;
    right: 30px;
    bottom: 5.5rem;
    z-index: 99;
}

.vAndi .vAndiCont {
    height: 20px
}

.vAndi .vAndiCont .SWactive {
    background: #FF0036 !important;
    color: #fff !important;
}

.vAndi .vAndiCont .videoBtn {
    background: rgba(240, 240, 240, .8);
    padding: 0 20px 0 20px;
    color: #000;
    position: relative;
    border-radius: 15px;
    line-height: 30px;
    height: 30px;
    display: inline-block;
    font-size: 14px;
}

.vAndi .vAndiCont .videoBtn:before {
    content: "";
    -webkit-backface-visibility: hidden;
    position: absolute;
    left: 12px;
    top: 10px;
    width: 0;
    height: 0;
    border-width: 5px;
    border-style: dashed;
    border-color: transparent transparent transparent #333;
    font-size: 0;
    line-height: 0;

}

.vAndi .vAndiCont .SWactive:before {
    border-color: transparent transparent transparent #fff !important;
}

.vAndi .vAndiCont .imgBtn {
    background: rgba(240, 240, 240, .8);
    padding: 0 20px;
    color: #000;
    margin-left: 10px;
    border-radius: 15px;
    line-height: 30px;
    height: 30px;
    display: inline-block;
    font-size: 14px;

}

/*rating*/
.rating {
  text-align: left;
  unicode-bidi: bidi-override;
  direction: rtl;
}

.rating > span {
  display: inline-block;
  position: relative;
  width: 1.3em;
  font: 1.2rem Georgia, serif;
  color: #9f9f9f;
  text-align: center;
  cursor: pointer;
}

.rating:not(.disabled) > span:hover:before,
.rating:not(.disabled) > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
   color: #276643;
}

.rating > span.active:before,
.rating > span.active ~ span:before {
  content: "\2605";
  position: absolute;
  color: #276643;
}

.pro-panel .pro-name {
  font-size: 1.5rem;
  color: #575757;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-word;
}

.pro-panel .old-price {
  font-size: 1rem;
  color: #bcbcbc;
  text-decoration: line-through;
}

.pro-panel .sale-price {
  font-size: 1.2rem;
  color: #276643;
}

.rating-box > span {
  font-size: 1.2rem;
  color: #276643;
  margin: 0 0.3rem;
}

.rating-box .rating {
  display: inline-block;
}

.attr-group {
  margin: 1.5rem 0;
}

.attr-group .attr-one {
  margin-bottom: 1.5rem;
}

.attr-group .attr-one > label {
  font-size: 1rem;
  color: #575757;
  display: inline-block;
  margin-bottom: 1rem;
}

.attr-group .attr-one .options > span {
  font-size: 1rem;
  color: #575757;
  display: inline-block;
  padding: 0.2rem 0.8rem;
  border: 1px solid #bcb9b9;
  border-radius: 5px;
}

.attr-group .attr-one .options > span:not(:last-child) {
  margin-right: 0.8rem;
}

.attr-group .attr-one .options > span.selected {
  color: #2b6442;
  border-color: #2b6442;
}

.number-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.number-box > label {
  font-size: 1rem;
  color: #575757;
  display: inline-block;
  margin-bottom: 1rem;
}

.number-box > label span {
  color: #e40202;
  font-size: 1rem;
}

.input-number {
  display: inline-flex;
  align-items: center;
  position: relative;
  border: 1px solid #e9e8e8;
  width: 10rem;
  height: 3rem;
  box-sizing: border-box;
}

.input-number > span[role="button"] {
  font-size: 2rem;
  width: 3rem;
  height: 3rem;
  display: inline-block;
  text-align: center;
  line-height: 3rem;
  color: #707070;
  font-weight: bold;
  vertical-align: middle;
  cursor: pointer;
  flex-shrink: 0;
}

.input-number > input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  outline: none;
  border: 0;
  background: transparent;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  vertical-align: middle;
}

.input-number > input::-webkit-outer-spin-button,
.input-number > input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.input-number > input[type="number"] {
  -moz-appearance: textfield;
}

.related-dtls {
  display: flex;
  flex-direction: column;
  margin: 1.5rem 0;
}

.related-dtls > .tips {
  font-size: 1rem;
  color: #575757;
  margin-bottom: 0.3rem;
}

.related-dtls > a {
  font-size: 1rem;
  color: #276643;
  text-decoration: underline;
}

.btn-box {
  display: flex;
  justify-content: space-between;
}

.btn-box button {
  width: 100%;
  font-size: 1.2rem;
  font-family: 'HanyiSentyPailouArch';
  border: 1px solid #758b7d;
  border-radius: 5px;
}

.btn-box button:first-child {
  color: #758b7d;
  background-color: #fff;
}

.btn-box button:last-child {
  color: #fff;
  background-color: #758b7d;
}

.btn-box button:not(:last-child) {
  margin-right: 4%;
}

.btn-box button[disabled] {
  background-color: #bdbdbd;
  border-color: #bdbdbd;
}


.fav-box {
  text-align: center;
  margin: 2rem 0 1rem;
}

.fav-box button {
  font-size: 1rem;
  color: #2c6846;
  height: 2rem;
  background: transparent;
}

.fav-box button > img {
  height: 1.1rem;
  margin-right: 0.2rem;
  vertical-align: middle;
}

.share-box {
  text-align: center;
  margin: 1rem 0;
}

.share-box > span {
  font-size: 1rem;
  color: #707070;
  vertical-align: middle;
  margin-right: 1rem;
}

.share-box > a {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 0.8rem;
  vertical-align: middle;
}

.share-box > a.fb {
  background-image: url('/imgs/icons/share-fb.png');
}

.share-box > a.whatsapp {
  background-image: url('/imgs/icons/whatsapp.png');
}

.share-box > a.link {
  background-image: url('/imgs/icons/link.png');
}

.pro-introduce {
  margin: 2rem 0;
}

.pro-introduce .tabs {
  border-bottom: 1px solid #dbd9d9;
  display: flex;
  justify-content: space-evenly;
}

.pro-introduce .tabs > a {
  font-size: 1.2rem;
  color: #58595b;
  display: inline-block;
  padding: 0.5rem 0;
}

.pro-introduce .tabs > a.active {
  border-bottom: 2px solid #3a6445;
}

.pro-introduce .tab-content .tab-title {
  text-align: center;
  margin: 1.5rem 0 2rem;
}

.pro-introduce .tab-content .tab-title > p {
  font-size: 1.3rem;
  color: #58595b;
  position: relative;
  display: inline-block;
}

.pro-introduce .tab-content .tab-title > p::after {
  content: '';
  position: absolute;
  width: 30%;
  height: 3px;
  background: #3a6445;
  bottom: -0.5rem;
  left: 35%;
}

.pro-introduce .tab-content .content.details,
.pro-introduce .tab-content .content.details p {
  font-size: 1.1rem;
  color: #58595b;
}

.pro-introduce .tab-content .content img {
  max-width: 100%;
}

/*產品屬性圖片*/
.pro-preview-box .attr-img {
  position: relative;
}

.pro-preview-box .attr-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pro-preview-box button {
  position: absolute;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: 0;
  font-size: 1.2rem;
  color: #fff;
  font-weight: bold;
  background-color: rgb(0 0 0 / 20%);
  cursor: pointer;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 0;
  bottom: 4rem;
  right: 1rem;
}

/*產品評論*/
.comments .total-sum {
  font-size: 1.2rem;
  color: #575757;
}

.comments .rating > span {
  font-size: 1.8rem;
}

.comments .rating-box > span {
  font-size: 1.5rem;
  margin: 0 0.8rem;
}

.comments-list {
  margin: 1.5rem 0 2rem;
}

.comment-one {
  padding: 1rem 0;  
}

.comment-one:not(:last-child) {
  border-bottom: 1px solid #bab7b7;
}

.comment-one .user {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.comment-one .avatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 1rem;
}

.comment-one .avatar > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.comment-one .info {
  display: flex;
  flex-direction: column;
}

.comment-one .info > span:first-child {
  font-size: 1rem;
  color: #000;
}

.comment-one .info > span:last-child {
  font-size: 1rem;
  color: #6f6f6f;
  line-height: 1;
}

.comment-one .rating-box {
  margin: 0.5rem 0;
}

.comment-one .rating > span {
  font-size: 1.1rem;
}

.comment-one .rating-box > span {
  font-size: 1.1rem;
}

.comment-one .comments-text {
  font-size: 1rem;
  color: #000;
}

.comment-one .comments-imgs {
  overflow-x: auto;
  overflow-y: hidden;
  margin-top: 1rem;
  display: flex;
}

.comment-one .comments-imgs li {
  width: 5.5rem;
  height: 5.5rem;
  flex-shrink: 0;
}

.comment-one .comments-imgs li:not(:last-child) {
  margin-right: 0.8rem;
}

.comment-one .comments-imgs li > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.comments .more-btn {
  text-align: right;
  margin: 1rem 0;
}

.comments .more-btn > a {
  font-size: 1.1rem;
  color: #606060;
  font-weight: bold;
}

.pro-dtl-page hr {
  height: 1rem;
  width: 100vw;
  margin-left: -3vw;
  background: #e9e8e8;
}

.about-merchant .util-title {
  margin: 0;
}

.merchant-box {
  display: flex;
  padding: 1rem 0;
}

.merchant-box .img-box {
  width: 7.5rem;
  height: 7.5rem;
  margin-right: 1.5rem;
  flex-shrink: 0;
}

.merchant-box .merchant-info {
  width: 100%;
}

.merchant-box .merchant-name {
  font-family: 'Micross';
  font-size: 1.5rem;
  color: #575757;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-break: break-word;
  margin-bottom: 1rem;
}

.merchant-box .merchant-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.merchant-box .merchant-bottom .left img {
  height: 1.3rem;
  vertical-align: middle;
  margin-right: 0.5rem;
}

.merchant-box .merchant-bottom .left span {
  font-size: 1rem;
  color: #9f9f9f;
  vertical-align: middle;
}

.merchant-box .merchant-bottom .left > div {
  margin-bottom: 0.2rem;
}

.merchant-box .merchant-bottom .left > div > span:not(:first-child) {
  margin: 0 0.3rem;
}

.merchant-box .merchant-bottom .right {
  display: flex;
  flex-direction: column;
}

.merchant-box .merchant-bottom .right button {
  font-size: 1.2rem;
  color: #768b81;
  background: #fff;
  border: 2px solid;
  border-radius: 5px;
  padding: 0 0.5rem;
  font-family: 'HanyiSentyPailouArch';
}

.merchant-box .merchant-bottom .right button:not(:last-child) {
  margin-bottom: 0.5rem;
}

.merchant-pro {
  margin-bottom: 1.5rem;
  padding-top: 1.5rem;
  border-top: 1px solid #c5c2c1;
}

/*返郵通知*/
.notify .text {
  font-size: 1.3rem;
  color: #333;
  text-align: center;
}

.notify .sellout-email {
  margin: 1rem auto 0;
  width: 80%;
  display: block;
  height: 2.5rem;
  padding: 0 0.5rem;
}

/* ------ 產品分類 ------ */
.category-banner img {
  width: 100%;
  height: 17rem;
  object-fit: cover;
}

.screen-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}

.screen-box .screen-list {
  display: flex;
  overflow-x: auto;
}

.screen-box .screen-list select {
  font-size: 1rem;
  background: #e8e8e8;
  border: 0;
  border-radius: 5px;
  padding: 0.2rem;
}

.screen-box .screen-list select:not(:last-child) {
  margin-right: 0.5rem;
}

.screen-box .screen-list select:first-child {
  width: 7rem;
}

.screen-box .screen-list select:not(:first-child) {
  width: 4.5rem;
}

.screen-box .btn-group {
  flex-shrink: 0;
  font-size: 0;
  margin-left: 1rem;
}

.screen-box .btn-group button {
  padding: 0 0.3rem;
  background: #fff;
  font-size: 0;
}

.screen-box .btn-group button img {
  height: 1.7rem;
}

.pros-num {
  font-size: 1rem;
  color: #575757;
  margin: 1rem 0;
}

.pro-list.grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.pro-list .pro-item {
  margin-bottom: 1rem;
}

.pro-list.grid .pro-item {
  width: 48%;
}

/* ------ 店鋪 ------ */
.merchant-banner > img {
  width: 100%;
  max-height: 17rem;
  object-fit: cover;
}

.merchant-main {
  display: flex;
  padding: 1rem 0;
}

.merchant-main .img-box {
  width: 7.5rem;
  height: 7.5rem;
  margin-right: 1.5rem;
  flex-shrink: 0;
}

.merchant-main .merchant-info {
  width: 100%;
}

.merchant-main .merchant-name {
  font-family: 'Micross';
  font-size: 1.5rem;
  color: #575757;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-break: break-word;
  margin-bottom: 0.3rem;
}

.merchant-main .merchant-bottom {
  display: flex;
  justify-content: space-between;
}

.merchant-main .left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.merchant-main .left > p {
  font-size: 1rem;
  color: #575757;
}

.merchant-main .left .other > div {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.merchant-main .left .other > div > span {
  font-size: 1rem;
  color: #575757;
}

.merchant-main .left .other > div:not(:last-child) {
  margin-right: 0.8rem;
}

.merchant-main .merchant-bottom .right {
  display: flex;
  flex-direction: column;
}

.merchant-main .merchant-bottom .right button {
  font-size: 1.2rem;
  color: #768b81;
  background: #fff;
  border: 2px solid;
  border-radius: 5px;
  padding: 0 0.5rem;
  font-family: 'HanyiSentyPailouArch';
}

.merchant-main .merchant-bottom .right button:not(:last-child) {
  margin-bottom: 0.5rem;
}

.util-title2 {
  font-size: 1.7rem;
  color: #286643;
  margin: 0.5rem 0;
}

.mer-msg-one {
  padding: 1rem 0;
  border-bottom: 1px solid #f1f1f1;
}

.mer-msg-one .content > p {
  font-size: 1rem;
  color: #575757;
}

.mer-msg-one .terms {
  display: inline-flex;
  flex-direction: column;
  margin: 1rem 0 0;
}

.mer-msg-one .terms > a {
  font-size: 1rem;
  color: #286643;
  text-decoration: underline;
  margin: 0.2rem 0;
}

/* ------ 個人資訊 ------ */
.nav-tab {
  margin: 1rem 0;
  border-bottom: 1px solid #c6c6c6;
  display: flex;
  justify-content: space-around;
}

.nav-tab > a {
  font-size: 1.2rem;
  color: #575757;
  padding: 0.5rem 0;
  display: inline-block;
}

.nav-tab > a.active {
  border-bottom: 2px solid #2c6442;
}


.nav-tab-content .nav-tab-title {
  text-align: center;
  margin: 1.5rem 0 2rem;
}

.nav-tab-content .nav-tab-title > p {
  font-size: 1.3rem;
  color: #58595b;
  position: relative;
  display: inline-block;
}

.nav-tab-content .nav-tab-title > p::after {
  content: '';
  position: absolute;
  width: 30%;
  height: 3px;
  background: #3a6445;
  bottom: -0.5rem;
  left: 35%;
}

.member-info {
  margin-bottom: 1.5rem;
}

.member-info > div {
  margin: 0.5rem 0;
}

.member-info > div > label,
.member-info > div > span {
  font-size: 1.1rem;
  color: #575757;
}

.member-info > button {
  font-size: 1rem;
  color: #286643;
  background: #fff;
  padding: 0;
  border-bottom: 1px solid;
  margin: 0.5rem 0;
}

button.logout {
  font-size: 1.3rem;
  color: #758b7d;
  width: 72%;
  border: 1px solid;
  background: #fff;
  border-radius: 5px;
  display: block;
  margin: 2rem auto;
}

#password .form-group > input[type="text"],
#password .form-group > input[type="password"] {
  border: 0;
  border-bottom: 1px solid #b1bdb5;
}

.my-delivery-address .title {
  font-size: 1.1rem;
  color: #575757;
}

.my-delivery-address .address-handle {
  margin: 1rem 0;
}

.address-handle {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.address-handle .addAddr {
  font-size: 1rem;
  color: #fff;
  font-weight: bold;
  padding: 0.5rem;
  background: #6ba487;
  min-height: 2.5rem;
  text-align: center;
  box-sizing: border-box;
  margin-right: 0.5rem;
}

.address-handle .manageAddr {
  font-size: 1rem;
  color: #6ba487;
  font-weight: bold;
  padding: 1px 0;
  border-bottom: 1px solid;
  margin-left: auto;
  text-align: center;
}

.address-list {
    padding: 5px;
}

.address-list .address-one {
    padding: 0.5rem 1rem;
    box-shadow: 0 0 5px #ccc;
    border-radius: 10px;
    margin-bottom: 1rem;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.address-list .address-one .dtls {
    width: calc(100% - 20%);
    padding: 0 0.5rem 0 3.5rem;
    box-sizing: border-box;
}

.address-list .address-one .dtls p {
    display: inline-block;
    font-size: 1rem;
    color: #000;
    font-weight: bold;
    margin: 0.3rem 0;
}

.address-list .address-one .recipient {
    width: 50%;
    display: inline-flex;
    margin-right: 0.5rem;
}

.address-list .address-one .recipient > p:first-child {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.address-list .address-one .recipient > p:last-child  {
    flex-shrink: 0;
}

.address-list .address-one p.address {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.address-list .address-one .default-addr {
    font-size: 1rem;
    background: #6ba487;
    color: #fff;
    padding: 3px 5px;
    min-width: 2.5rem;
    position: absolute;
    border-bottom-right-radius: 10px;
    top: 0;
    left: 0;
}

.address-list .address-one.selected {
    border: 2px solid #6ba487;
}

.address-list .address-one.selected::after {
    position: absolute;
    content: '';
    width: 2.5rem;
    height: 1.8rem;
    background-color: #6ba487;
    background-image: url(/imgs/icons/tick.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 55%;
    border-top-left-radius: 10px;
    bottom: 0;
    right: 0;
}

.address-list .address-one .btns {
    width: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.address-list .address-one:not(.selected) .btns > span[role="button"]:last-child {
    font-size: 1rem;
    color: #fff;
    font-weight: bold;
    background: #6ba487;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    padding: 2px 5px;
    text-align: center;
    box-sizing: border-box;
}

.address-list .address-one.selected .btns > span[role="button"],
.address-list .address-one .btns > span[role="button"]:not(:last-child) {
    font-size: 1rem;
    color: #6ba487;
    font-weight: bold;
    padding: 1px 0;
    border-bottom: 1px solid;
    display: inline-block;
    cursor: pointer;
}

/*地址彈窗統一樣式*/
.mDialog {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background: rgba(0, 0, 0, .3);
    z-index: 100;
    display: none;
}

.mDialog .content-box {
    display: inline-block;
    width: 80%;
    vertical-align: middle;
    background-color: #fff;
    /* border: 1px solid #ebeef5; */
    font-size: 1rem;
    padding: 1rem;
    box-sizing: border-box;
    /* box-shadow: 0 2px 12px 0 rgba(0,0,0,.1); */
    text-align: left;
    overflow: hidden;
    backface-visibility: hidden;
}

.mDialog::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 0;
    vertical-align: middle;
}

.mDialog.inside .content-box {
    top: 8.2rem;
    bottom: 63px;
    z-index: 10;
    width: 100%;
    height: 100%;
}

.mDialog .addr-title {
    font-size: 1.2rem;
    color: #15907e;
    font-weight: bold;
    margin-bottom: 1rem;
}

.mDialog .bottom-btns {
    margin-top: 3.5rem;
    text-align: center;
}

.mDialog .bottom-btns > button {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    outline: none;
    border: 0;
    min-width: 5rem;
    height: 2rem;
    padding: 3px 5px;
    box-sizing: border-box;
    background: transparent;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 5px;
    line-height: 1;
    cursor: pointer;
}

.mDialog .bottom-btns > button:not(:last-child) {
    color: #fff;
    background: #15907e;
    margin-right: 2rem;
}

.mDialog .bottom-btns > button:last-child {
    color: #15907e;
    border: 1px solid;
}

.mDialog .scroll-box {
    max-height: 60vh;
    overflow-y: auto;
}

/*管理郵寄地址*/
.manageAddr .address-list .address-one.selected::after {
    display: none;
}

.manageAddr .address-list .address-one .btns {
    width: 20%;
    flex-direction: unset;
    flex-wrap: wrap;
}

.manageAddr .address-list .address-one .btns > span[role="button"].default {
    margin-top: 0.8rem;
}

/*創建 / 修改郵寄地址*/
.editAddr .form_group {
    margin-bottom: 1.5rem;
}

.editAddr .form_group > label {
    font-size: 1.1rem;
    color: #333333;
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: inline-block;
}

.editAddr .form_group > label[required] {
    position: relative;
    padding-right: 1rem;
}

.editAddr .form_group > label[required]::after {
    position: absolute;
    content: "*";
    color: #c1272d;
    right: 0.3rem;
}

.editAddr .form_group select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    outline: none;
    height: 2.2rem;
    padding: 0 2rem 0 0.5rem;
    box-sizing: border-box;
    border: 1px solid #6ba487;
    border-radius: 5px;
    font-size: 1.1rem;
    color: #333;
    font-weight: bold;
    line-height: 2;
    background: url(/imgs/icons/arrow-down.png) no-repeat center right 10px;
    background-size: 0.7rem;
}

.editAddr .form_group input[type="text"]:not(.dest-combobox-input) {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    outline: none;
    width: 100%;
    height: 2.2rem;
    padding: 0 0.5rem;
    box-sizing: border-box;
    border: 1px solid #6ba487;
    border-radius: 5px;
    font-size: 1.1rem;
    color: #333;
}

/*Autocomplete*/
.ui-autocomplete {
    max-height: 350px;
    overflow-y: auto;
    overflow-x: hidden;
}

.dest-combobox {
    position: relative;
    display: block;
    overflow: hidden;
    width: 18%;
    margin-right: 0.5rem;
    flex-shrink: 0;
}

.dest-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin-left: -1px;
    padding: 0;
    outline: none;
    /* 支持： IE7 */
    *height: 1.7em;
    *top: 0.1em;
}

.dest-combobox-input {
    width: 100% !important;
    margin: 0 !important;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    outline: none;
    height: 2.2rem;
    padding: 0 2rem 0 0.5rem;
    box-sizing: border-box;
    border: 1px solid #6ba487;
    border-radius: 5px;
    font-size: 1.1rem;
    color: #333;
    font-weight: bold;
    line-height: 2;
    background: url(/imgs/icons/arrow-down.png) no-repeat center right 10px;
    background-size: 0.7rem;
}

.ui-menu {
    z-index: 1000;
}
/* -- */

.editAddr .form_group .location-group {
    display: flex;
    justify-content: space-between;
}

.editAddr .form_group .location-group select {
    width: 18%;
    margin-right: 0.5rem;
    flex-shrink: 0;
}

.editAddr .form_row {
    display: flex;
    justify-content: space-between;
}

.editAddr .form_row > .form_group {
    width: 45%;
}

.editAddr input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 15px;
    height: 15px;
    border: 1px solid #6ba487;
    border-radius: 5px;
    outline: none;
    position: relative;
    vertical-align: middle;
    margin: 0;
    margin-right: 5px;
    flex-shrink: 0;
}

.editAddr input[type="checkbox"]:checked:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: #15907e;
    background-image: url(/imgs/icons/tick.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    bottom: 0;
    right: 0;
}

.blockPage {
  border: 0 !important;
}

.green_btn {
  background-color: #0D9775;
  color: #fff;
}

/* ------ 優惠券 ------ */
.coupon-list {
  padding: 1rem 0;
  margin-bottom: 3rem;
}

.coupon-one {
  position: relative;
}

.coupon-one {
  margin-bottom: 1.5rem;
}

.coupon-one::before,
.coupon-one::after {
  content: '';
  width: 14px;
  height: 14px;
  background: #fff;
  position: absolute;
  top: 63%;
  z-index: 2;
}

.coupon-one::before {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  left: -8px;
}

.coupon-one::after {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  right: -8px;
}

.coupon-one .coupon-inner {
  border-radius: 8px;
  box-shadow: 0 0 5px #000;
  position: relative;
  overflow: hidden;
  z-index: 1;
  padding: 1rem 1.5rem 0.8rem;
  box-sizing: border-box;
}

.coupon-one .coupon-inner::before,
.coupon-one .coupon-inner::after {
  content: '';
  width: 18px;
  height: 18px;
  position: absolute;
  box-shadow: inset 0 0 5px #000;
  top: 61%;
  border-radius: 50%;
  background: #fff;
  z-index: 2;
}

.coupon-one .coupon-inner::before {
  left: -10px;
}

.coupon-one .coupon-inner::after {
  right: -10px;
}

.coupon-one .coupon-inner .top {
  position: relative;
  padding-right: 5rem;
  padding-bottom: 0.3rem;
  border-bottom: 1px dashed #e4e4e4;
}

.coupon-one .coupon-inner .top > p {
  font-size: 1.1rem;
  color: #2c6442;
}

.coupon-one .coupon-inner .top > p.title {
  margin-left: -0.5em;
  margin-bottom: 0.2rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-break: break-word;
}

.coupon-one .coupon-inner .top > p.describe {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-word;
  height: 3rem;
}

.coupon-one .coupon-inner .top > span {
  display: inline-block;
  width: 4rem;
  background: #2c6442;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 3px;
  box-sizing: border-box;
  position: absolute;
  right: 0;
  top: 0;
}

.coupon-one .coupon-inner .bottom .deadline {
  font-size: 1rem;
  color: #707070;
  margin-top: 0.5rem;
}

.coupon-one[disabled] {
  filter: opacity(0.5);
}

.coupon-one[disabled] .coupon-inner .top > span {
  background: #707070;
}

/* ------ 我的訂單 ------ */
.order-tab {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0 2rem;
}

.order-tab > a {
  font-size: 1.2rem;
  color: #575757;
  background: #f0f2f2;
  padding: 0.3rem 0.8rem;
  border-radius: 5px;
}

.order-tab > a.active {
  color: #fff;
  background: #99b2a3;
}

.order-list {
  margin: 2rem 0 5rem;
}

.order-list .order-one {
  padding: 1rem;
  border: 2px solid #c2ccc6;
  border-radius: 5px;
  margin-bottom: 1.2rem;
}

.order-list .order-one .status {
  font-size: 1rem;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  color: #fff;
  background: #99b2a3;
  float: right;
}

.order-list .order-one .merchant {
  margin-right: 5rem;
  margin-bottom: 1rem;
}

.order-list .order-one .merchant > img {
  height: 1.5rem;
  vertical-align: middle;
  margin-right: 0.8rem;
}

.order-list .order-one .merchant > span {
  font-size: 1rem;
  color: #286643;
  vertical-align: middle;
}

.order-list .order-one .merchant > span > b {
  font-size: 1.5rem;
  color: #286643;
  vertical-align: middle;
  margin-left: 0.5rem;
}

.order-one .pro-one {
  display: flex;
  margin-bottom: 1rem;
}

.order-one .pro-one .img-box {
  width: 6rem;
  border-radius: 10px;
  overflow: hidden;
  flex-shrink: 0;
}

.order-one .pro-one .pro-name {
  font-size: 1.1rem;
  color: #575757;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-break: break-word;
}

.order-one .pro-one .pro-attr > span {
  font-size: 1rem;
  color: #818080;
}

.order-one .pro-one .pro-attr > span:not(.pro-num) {
  margin-right: 0.5rem;
}

.order-one .pro-one .pro-price {
  font-size: 1.2rem;
  color: #286643;
  font-family: 'Micross';
  flex-shrink: 0;
}

.order-one .pro-one .pro-info {
  width: 100%;
  margin: 0 0.5rem;
}

.order-one .pro-one .pro-info,
.order-one .pro-one .pro-price {
  padding: 0.5rem 0;
}

.order-one .sub-sum {
  text-align: right;
}

.order-one .sub-sum > p,
.order-one .sub-sum > div > span:first-child {
  font-size: 1rem;
  color: #575757;
}

.order-one .sub-sum > p {
  margin-bottom: 0.2rem;
}

.order-one .sub-sum > div > span:nth-child(2) {
  font-size: 1.1rem;
  color: #575757;
}

.order-one .sub-sum > div > span:last-child {
  font-size: 1.2rem;
  color: #286643;
}

.order-one .sub-sum > button {
  font-size: 1rem;
  background: #2c6442;
  color: #fff;
  border-radius: 5px;
  padding: 0.2rem 0.5rem;
  margin-top: 0.8rem;
}

.evaluate-box {
  margin: 1rem 0 0.5rem;
  overflow: hidden;
}

.evaluate-box .evaluate-rating {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.evaluate-box .evaluate-rating > label {
  font-size: 1rem;
  color: #575757;
  margin-right: 0.5rem;
}

.evaluate-box .evaluate-text > textarea {
  width: 100%;
  height: 8rem;
  border: 1px solid #c9c9c9;
  border-radius: 5px;
  padding: 0.5rem;
  box-sizing: border-box;
  font-size: 1rem;
  resize: none;
}

.evaluate-box > button {
  font-size: 1rem;
  background: #2c6442;
  color: #fff;
  border-radius: 5px;
  padding: 0.2rem 0.5rem;
  margin-top: 0.8rem;
  float: right;
}

.order-list .order-one .orderNo {
  margin-right: 5rem;
  margin-bottom: 1rem;
}

.order-list .order-one .orderNo > span {
  font-size: 1rem;
  color: #286643;
  vertical-align: middle;
}

.order-list .order-one .order-time {
  font-size: 1rem;
  color: #575757;
  margin: 1rem 0;
}

/* ------ 訂單詳情 ------ */
.page-title {
  width: 100%;
  font-size: 1.3rem;
  padding: 1rem 0;
  text-align: center;
  color: #fff;
  background-color: #6ba487;
}

.total-order-num {
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
}

.total-order-num span {
    display: block;
    color: #999;
    padding: 0.6rem 0;
    font-size: 1.2rem;
}

.merchant-order-title {
    background-color: #6ba487;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.merchant-order-title span {
  display: inline-block;
  color: #fff;
  font-size: 1.2rem;
}

.merchant-order-title span:nth-of-type(1) {
  background-color: #A61C3C;
  width: 1.8rem;
  height: 1.8rem;
  text-align: center;
  line-height: 1.8rem;
  margin-right: 0.5rem;
}

.order-one-title span {
    color: #1b1b1b;
    float: left;
    line-height: 2.5rem;
    font-size: 1rem;
}

.order-detail-box-only .order-one-title span {
  display: inline-block;
  width: 100%;
  font-size: 1.2rem;
  color: #999;
}

.order-one .product-price .p-price-discount {
    font-size: 1.2rem;
    color: #000;
}

.order-detail-handle {
    margin: 1rem 0;
}

.order-detail-handle a {
    float: right;
    color: #fff;
    font-size: 1rem;
    background-color: #6ba487;
    height: 1.8rem;
    line-height: 1.5;
    padding: 0.2rem 1rem;
    margin-left: 0.2rem;
    display: inline-block;
}

.refundList-content1 {
    display: none;
    padding-bottom: 2rem;
}

.editrefund-content {
    background-color: #f6f6f6;
    padding: 1rem;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}

.refundList-content1 .normal-select select {
    width: 100%;
    background-color: #dcdada;
}

.editrefund-text {
    width: 100%;
    height: 137px;
    background-color: #dcdada;
    padding: 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding: 5px 15px;
    outline: none;
}

.login-register-content .form-group {
    margin-bottom: 1.3rem;
    position: relative;
}

.login-register-content .form-group label {
    color: #333;
    display: block;
    float: none;
    width: 100%;
    font-size: 1.3rem;
    margin-bottom: 0.7rem;
}

.refundList-content1 .normal-select select {
    width: 100%;
    background-color: #dcdada;
}

/*退换输入*/
.editrefund-box p {
  font-size: 1rem;
  text-align: right;
}

.upload-btn {
  font-size: 14px;
  padding: 5px 20px;
  color: #fff;
  margin-top: 1rem;
  background-color: #522a80;
  border: 0;
  cursor: pointer;
}

.return-img-box li {
  margin-right: 10px;
  position: relative;
}

.img-close {
  background-color: #522a80;
  color: #fff;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
  line-height: 16px;
  text-align: center;
  font-size: 12px;
  border: 1px solid #333;
  top: -8px;
  right: -8px;
}

.order-detail-page .btn-box {
  margin-top: 3rem;
  flex-wrap: wrap;
}

.order-detail-box .btn-box .btn {
  display: inline-block;
  width: 100%;
  background-color: #6ba487;
  margin-bottom: 1rem;
  color: #fff;
  font-size: 1.1rem;
}

.order-box-price {
    margin: 1rem 0;
}

.order-box-price p {
    text-align: right;
}

.order-box-price p span {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: #999;
}

.order-box-price p span:nth-of-type(2) {
    color: #333;
    width: 10rem;
}

.order-detail-calc p {
    text-align: right;
    font-size: 20px;
    color: #333;
    line-height: 26px;
    margin: 15px 0;
}

.order-detail-calc p span {
    display: inline-block;
    font-size: 1.4rem;
    color: #6ba487;
    vertical-align: top;
    font-weight: normal;
    line-height: 26px;
}

.order-detail-calc p span:nth-of-type(2) {
    color: #d92526;
    width: 10rem;
}

.order-detail-calc p strong {
    display: inline-block;
    color: #333;
    vertical-align: top;
    font-weight: normal;
    line-height: 26px;
    font-size: 1.4rem;
    width: 10rem;
}

.detail-login-box {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 998;
    display: none;
    background: rgba(0,0,0,0.8);
}

.order-check-box {
    width: 86%;
    height: 50%;
    background-color: #fff;
    border-radius: 5px;
}

.sellout-window {
    position: fixed;
    width: 90%;
    height: 20rem;
    top: 20%;
    left: 5%;
    display: none;
    z-index: 999;
    background-color: #fff;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 3px #000;
    box-sizing: border-box;
}

.sellout-window p {
    font-size: 1.8rem;
    color: #333;
    text-align: center;
    line-height: 2.5rem;
}

.login-close {
  background-color: #6ba487;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  line-height: 2rem;
  text-align: center;
  color: #fff;
  font-size: 1.2rem;
  position: absolute;
  top: -1rem;
  right: -1rem;
}

.order-check .title {
    min-height: 30px;
    color: #fff;
    background-color: #089874;
}

.order-check .title span {
    display: inline-block;
    width: 30%;
    padding: 0.3rem 0;
    font-size: 1.2rem;
    color: #fff;
    margin-left: 3%;
}

.order-check .title span:nth-of-type(2) {
    width: 56%;
    margin-left: 5%;
}

/* ------ 訂單評論 ------ */
.pro-comment-page {
  padding-bottom: 5rem;
}

.write-comment-block {
    width: 90%;
    margin: 20px auto;
}

.write-comment-block table {
    width: 100%;
}

.write-comment-block .review-star span, .write-comment-block .review-text span {
    width: 100%;
}

.write-comment-block .product-message {
    width: 100%;
}

.write-comment-block .product-message img {
    width: 100%;
}

.write-comment-block .product-message p {
    font-size: 1rem;
    color: #000;
    text-align: center;
}

.write-comment-block .comment-title {
    font-size: 1.2rem;
}

.write-comment-block .comment-area {
    width: 100%;
    outline: none;
}

.write-comment-block ul {
    line-height: 0;
}

.write-comment-block .padding-td {
    padding: 10px 0;
}

.comment-save {
    font-size: 14px;
    padding: 10px 40px;
    color: #fff;
    background-color: #047559;
    border: 0;
    cursor: pointer;
}

.upload-btn {
    font-size: 14px;
    padding: 5px 20px;
    color: #fff;
    margin-top: 1rem;
    background-color: #522a80;
    border: 0;
    cursor: pointer;
}

.comment-img-box li {
    position: relative;
    margin-right: 15px;
}


/* ------ 產品搜索頁 ------ */


/* ------ 我的最爱 ------ */
.clear {
  clear: both;
}

.favorite-box {
  margin: 2rem 0 3rem;
  box-sizing: border-box;
}

.favorite-box .favorite-box-top {
    margin-bottom: -1px;
}

.favorite-box .merchant-title {
    width: 49%;
    float: left;
    display: inline-block;
    color: #fff;
    text-align: center;
    font-size: 1.2rem;
    height: 3rem;
    line-height: 3rem;
    background-color: #2c6442;
    margin-right: 2%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.favorite-box .merchant-title:nth-child(2) {
    margin-right: 0;
}

.favorite-box .Favorite-title-now {
    color: #2c6442;
    background-color: #fff;
    border: 1px solid #2c6442;
    box-sizing: border-box;
    border-bottom: 0;
}

.favorite-box.tabs .favorite-box-content {
    border: 1px solid #2c6442;
    margin: 0px;
    padding: 1rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.favorite-one:nth-child(1) {
    border-top: 0;
}

.favorite-one {
    position: relative;
    box-sizing: border-box;
    padding: 1.5rem 0;
    border-top: 1px solid #e6e6e6;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    overflow: hidden;
}

.favorite-one .product-img {
    width: 9.2rem;
    height: 9.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1rem solid #e6e6e6;
    box-sizing: border-box;
    float: left;
}

.favorite-one .product-img img {
  max-width: 100%;
  max-height: 100%;
}

.favorite-one-messge {
    width: calc(100% - 10.2rem);
    display: inline-block;
    margin-left: 1rem;
}

.favorite-one-handle a {
    display: block;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    margin-bottom: 8px;
    color: #fff;
    font-size: 1.1rem;
    transition: 1s ease;
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -ms-transition: 1s ease;
    width: 45%;
    background-color: #2c6442;
    border-radius: 5px;
}

.favorite-one.fav-merchant .info {
    display: block;
    text-align: center;
    margin-bottom: 2rem;
}

.favorite-one.fav-merchant .img-box {
    display: inline-flex;
    width: 12rem;
    height: 11rem;
    justify-content: center;
    align-items: center;
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
}

.favorite-one.fav-merchant .img-box img {
    max-width: 100%;
    max-height: 100%;
}

.favorite-one.fav-merchant .merchant-name {
    font-size: 1.2rem;
    color: #333333;
    text-align: center;
    margin: 1rem 0;
}

.favorite-one-messge .product-title {
    color: #333;
    font-size: 1.2rem;
    line-height: 1.6rem;
}

.favorite-one-messge .product-code {
    color: #b2b2b2;
    margin: 0.5rem 0;
    font-size: 0.9rem;
}

.favorite-one-handle {
    opacity: 1;
    float: none;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    justify-content: space-between;
    margin-top: 1rem;
}

/*...*/